<launch>
  <!-- Open the model file -->
  <arg name="racecar_xacro" default="/home/ddrx/f1tenth_ws/toolkit/racecar_sim_ddrx.xacro"/>
  <param name="robot_description" command="xacro --inorder '$(arg racecar_xacro)'"/>

  <!-- Add the transformations -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
